<section>
    <div class="table-style">
        <ul class="table-header">
            <li class="table-cell"><?=$this->translate("NAME")?></li>
            <li class="table-cell"><?=$this->translate("EMAIL")?></li>
            <li class="table-cell"><?=$this->translate("DETAILS")?></li>
            <li class="table-cell"><?=$this->translate("MODIFY")?></li>
            <li class="table-cell"><?=$this->translate("DISABLE")?></li>
        </ul>
<?php
    /**
     * @var $user Admin\Model\User
     */
    foreach($this->paginator as $user) {
?>
        <ul class="table-row">
            <li class="table-cell"><?=$user->getId()?></li>
            <li class="table-cell"><?=$user->getFullName()?></li>
            <li class="table-cell"><?=$user->getEmail()?></li>
            <li class="table-cell">
                <a title='<?=$this->translate("DETAILS")?>' class='btn blue btn-sm' href='<?=$this->url("admin/default", ['controller' => "user", "action" => "detail", "id" => $user->getId()])?>'><i class='fa fa-info'></i></a>
            </li>
            <li class="table-cell">
                <a title='<?=$this->translate("MODIFY_USER")?>' href='<?=$this->url("admin/default", ['controller' => "user", "action" => "modify", "id" => $user->getId()])?>' class='btn btn-sm orange'><i class='fa fa-pencil'></i></a>
            </li>
            <li class="table-cell">
                <button id='delete_<?=$user->getId()?>' type="button" class='btn btn-sm delete dialog_delete' title='<?=$this->translate("DELETE")?>'><i class='fa fa-trash-o'></i></button>
                <div id='delete_delete_<?=$user->getId()?>' class='dialog_hide'>
                   <p><?=$this->translate("DISABLE_CONFIRM_TEXT")?> &laquo;<?=$user->getFullName()?>&raquo;</p>
                    <ul>
                        <li>
                            <a class='btn delete' href='<?=$this->url("admin/default", ['controller' => "user", "action" => "disable", "id" => $user->getId()])?>'><i class='fa fa-trash-o'></i> <?=$this->translate("DISABLE")?></a>
                        </li>
                        <li>
                            <a class='btn btn-default cancel'><i class='fa fa-times'></i> <?=$this->translate("CANCEL")?></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
<?php
    }
?>
    </div>
    <div id="results"></div>
</section>
<?php
    echo $this->paginationControl($this->paginator, 'sliding', 'admin/pagination', ['route' => 'admin/default']);
