<div>
    <p>
        <a href="<?=$this->url("admin/default", ["controller" => "user"])?>" class="btn btn-default">
            <i class="fa fa-chevron-left"></i> <?=$this->translate("BACK")?>
        </a>
    </p>
    <div class='form-inputs'>
        <?php
            /**
             * @var Admin\Form\UserForm
             */
            $form = $this->form;
            $form->setAttribute('action', $this->url('admin/default', ['controller' =>'user', 'action' => 'modify', 'id'=> $this->user->getId()]));
            $form->prepare();
            echo $this->form()->openTag($form);
            echo $this->formCollection($form);
            echo $this->form()->closeTag();
        ?>
    </div>
</div>
