<?php
    /**
    * @var $menu Admin\Model\Menu
    */
    $menu = $this->menu;
?>
<section>
    <p>
        <a href="<?=$this->url("admin/default", ['controller' => "menu"])?>" class="btn btn-default">
            <i class="fa fa-chevron-left"></i> <?=$this->translate("BACK")?>
        </a>
    </p>
    <div class='table-style'>
        <ul class="table-row">
            <li class="table-cell"><?=$this->translate("CAPTION")?></li>
            <li class="table-cell"><?=$menu->getCaption()?></li>
        </ul>
        <ul class="table-row">
            <li class="table-cell"><?=$this->translate("MENU_ORDER")?></li>
            <li class="table-cell"><?=$menu->getMenuOrder()?></li>
        </ul>
        <ul class="table-row">
            <li class="table-cell"><?=$this->translate("KEYWORDS")?></li>
            <li class="table-cell"><?=$menu->getKeywords()?></li>
        </ul>
        <ul class="table-row">
            <li class="table-cell"><?=$this->translate("DESCRIPTION")?></li>
            <li class="table-cell"><?=$menu->getDescription()?></li>
        </ul>
        <ul class="table-row">
            <li class="table-cell"><?=$this->translate("MENU_TYPE")?></li>
            <li class="table-cell"><?=$menu->getMenuTypeAsName()?></li>
        </ul>

<?php
    if ($menu->getParent() > 0) {
?>
        <ul class="table-row">
            <li class="table-cell"><?=$this->translate("PARENT")?></li>
            <li class="table-cell">
                <a class='btn btn-default blue' title='Parent details' href='<?=$this->url("admin/default", ['controller' => "menu", 'action' => 'detail', 'id' => $menu->getParent()])?>'><i class='fa fa-info'></i></a>
            </li>
        </ul>
<?php
    }
?>
    </div>
    <br/>

    <a href="<?=$this->url("admin/default", ['controller' => "menu", 'action' => 'modify', 'id' => $menu->getId()])?>" class="btn btn-default">
        <span class="btn-label"><i class="fa fa-pencil"></i></span> <?=$this->translate("MODIFY")?>
    </a>
</section>
