<section>
    <div class="table-style">
        <ul class="table-header">
            <li class="table-cell"><?=$this->translate("CAPTION");?></li>
            <li class="table-cell"><?=$this->translate("DETAILS");?></li>
            <li class="table-cell"><?=$this->translate("MODIFY");?></li>
            <li class="table-cell"><?=$this->translate("ACTIVE");?></li>
            <li class="table-cell"><?=$this->translate("DELETE");?></li>
        </ul>
<?php
        echo $this->menus;
?>
    </div>
</section>