<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuite name="Admin" >
        <directory>./AdminTest</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./../../</directory>
            <exclude>
                <directory suffix=".php">./../</directory>
            </exclude>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./../../../../vendor/</directory>
        </blacklist>
    </filter>
    <logging>
        <log type="coverage-html" target="./../../../../data/test-html-report/Admin/" charset="UTF-8" yui="true" />
        <log type="coverage-php" target="./../../../../build/coverage/coverage-Admin.cov"/>
    </logging>
</phpunit>
