<?php
    /**
    * @var $adminmenu Admin\Model\AdminMenu
    */
    $adminmenu = $this->adminmenu;
?>
<section>
    <p>
        <a href="<?=$this->url("admin/default", ['controller' => "adminmenu"])?>" class="btn btn-default">
            <i class="fa fa-chevron-left"></i> <?=$this->translate("BACK")?>
        </a>
    </p>
    <div class='table-style'>
        <ul class="table-row">
            <li class="table-cell"><?=$this->translate("CAPTION")?></li>
            <li class="table-cell"><?=$adminmenu->getCaption()?></li>
        </ul>
        <ul class="table-row">
            <li class="table-cell"><?=$this->translate("MENU_ORDER")?></li>
            <li class="table-cell"><?=$adminmenu->getMenuOrder()?></li>
        </ul>
        <ul class="table-row">
            <li class="table-cell"><?=$this->translate("ADVANCED")?></li>
            <li class="table-cell"><?php if ($adminmenu->getAdvanced()) { ?> <i class='fa fa-check'></i> <?php } else {  ?> <i class='fa fa-times'></i> <?php } ?></li>
        </ul>
        <ul class="table-row">
            <li class="table-cell"><?=$this->translate("CONTROLLER")?></li>
            <li class="table-cell"><?=$adminmenu->getController()?></li>
        </ul>
        <ul class="table-row">
            <li class="table-cell"><?=$this->translate("ACTION")?></li>
            <li class="table-cell"><?=$adminmenu->getAction()?></li>
        </ul>
        <ul class="table-row">
            <li class="table-cell"><?=$this->translate("CLASS")?></li>
            <li class="table-cell"><?=$adminmenu->getClass()?></li>
        </ul>
        <ul class="table-row">
            <li class="table-cell"><?=$this->translate("DESCRIPTION")?></li>
            <li class="table-cell"><?=$adminmenu->getDescription()?></li>
        </ul>

<?php
        if($adminmenu->getParent())) {
?>
        <ul class="table-row">
            <li class="table-cell"><?=$this->translate("PARENT")?></li>
            <li class="table-cell">
                <a class='btn btn-default blue' href='<?=$this->url("admin/default", ['controller' => "adminmenu", "action" => "detail", "id" => $adminmenu->getParent()])?>'><i class='fa fa-info'></i></a>
            </li>
        </ul>
<?php
        }
?>
    </div>
</section>
