<section>
    <div class="table-style">
        <ul class="table-header">
            <li class="table-cell"><?=$this->translate("MENU_ORDER")?></li>
            <li class="table-cell"><?=$this->translate("CAPTION")?></li>
            <li class="table-cell"><?=$this->translate("CONTROLLER")?></li>
            <li class="table-cell"><?=$this->translate("ACTION")?></li>
            <li class="table-cell"><?=$this->translate("CLASS")?></li>
            <li class='table-cell'><?=$this->translate("DESCRIPTION")?></li>
            <li class='table-cell'><?=$this->translate("ADVANCED")?></li>
			<li class="table-cell"><?=$this->translate("DETAILS")?></li>
            <li class="table-cell"><?=$this->translate("MODIFY")?></li>
            <li class="table-cell"><?=$this->translate("DELETE")?></li>
        </ul>
<?php

if (count($this->menus)) {
       /**
        * @var $adminMenu Admin\Model\AdminMenu
        */
        foreach($this->menus as $adminMenu) {
?>
        <ul class="table-row">
            <li class="table-cell"><?=$adminMenu->getMenuOrder()?></li>
            <li class="table-cell"><?=$adminMenu->getCaption()?></li>
            <li class="table-cell"><?=$adminMenu->getController()?></li>
            <li class="table-cell"><?=$adminMenu->getAction()?></li>
            <li class="table-cell"><?=$adminMenu->getClass()?></li>
            <li class="table-cell"><?=$adminMenu->getDescription()?></li>
            <li class="table-cell">
<?php
            if (($adminMenu->getAdvanced())) {
?>
                <i class='fa fa-check'></i>
<?php
            } else {
?>
                <i class='fa fa-times'></i>
<?php
            }
?>
            </li>
            <li class="table-cell">
                <a title='<?=$this->translate("DETAILS")?>' class='btn blue btn-sm' href='<?=$this->url("admin/default", ['controller' => "adminmenu", "action" => "detail", "id" => $adminMenu->getId()])?>'><i class='fa fa-info'></i></a>
            </li>
            <li class="table-cell">
                <a title='<?=$this->translate("MODIFY")?>' href='<?=$this->url("admin/default", ['controller' => "adminmenu", "action" => "modify", "id" => $adminMenu->getId()])?>' class='btn btn-sm orange'><i class='fa fa-pencil'></i></a>
            </li>
            <li class='table-cell'>
                <button id='delete_<?=$adminMenu->getId()?>' type='button' class='btn btn-sm delete dialog_delete' title='<?=$this->translate("DELETE")?>'><i class='fa fa-trash-o'></i></button>
                    <div id='delete_delete_<?=$adminMenu->getId()?>' class='dialog_hide'>
                       <p><?=$this->translate("DELETE_CONFIRM_TEXT")?> &laquo;<?=$adminMenu->getCaption()?>&raquo;</p>
                        <ul>
                            <li>
                                <a class='btn delete' href='/admin/adminmenu/delete/<?=$adminMenu->getId()?>'><i class='fa fa-trash-o'></i> <?=$this->translate("DELETE")?></a>
                            </li>
                            <li>
                                <a class='btn btn-default cancel'><i class='fa fa-times'></i> <?=$this->translate("CANCEL")?></a>
                            </li>
                        </ul>
                    </div>
            </li>
        </ul>
<?php
        if (isset($this->submenus[$adminMenu->getId()])) {
           /**
            * @var $sub Admin\Model\AdminMenu
            */
            foreach($this->submenus[$adminMenu->getId()] as $sub) {
?>
                <ul class="table-row">
                    <li class="table-cell"><?=$sub->getMenuOrder()?></li>
                    <li class="table-cell"><?=$sub->getCaption()?></li>
                    <li class="table-cell"><?=$sub->getController()?></li>
                    <li class="table-cell"><?=$sub->getAction()?></li>
                    <li class="table-cell"><?=$sub->getClass()?></li>
                    <li class="table-cell"><?=$sub->getDescription()?></li>
                    <li class="table-cell">
<?php
                    if (($sub->getAdvanced())) {
?>
                        <i class='fa fa-check'></i>
<?php
                    } else {
?>
                        <i class='fa fa-times'></i>
<?php
                    }
?>
                    </li>
                    <li class="table-cell">
                        <a title='<?=$this->translate("DETAILS")?>' class='btn blue btn-sm' href='<?=$this->url("admin/default", ['controller' => "adminmenu", "action" => "detail", "id" => $sub->getId()])?>'><i class='fa fa-info'></i></a>
                    </li>
                    <li class="table-cell">
                        <a title='<?=$this->translate("MODIFY")?>' href='<?=$this->url("admin/default", ['controller' => "adminmenu", "action" => "modify", "id" => $sub->getId()])?>' class='btn btn-sm orange'><i class='fa fa-pencil'></i></a>
                    </li>
                    <li class='table-cell'>
                        <button id='delete_<?=$sub->getId()?>' type='button' class='btn btn-sm delete dialog_delete' title='<?=$this->translate("DELETE")?>'><i class='fa fa-trash-o'></i></button>
                            <div id='delete_delete_<?=$sub->getId()?>' class='dialog_hide'>
                               <p><?=$this->translate("DELETE_CONFIRM_TEXT")?> &laquo;<?=$sub->getCaption()?>&raquo;</p>
                                <ul>
                                    <li>
                                        <a class='btn delete' href='/admin/adminmenu/delete/<?=$sub->getId()?>'><i class='fa fa-trash-o'></i> <?=$this->translate("DELETE")?></a>
                                    </li>
                                    <li>
                                        <a class='btn btn-default cancel'><i class='fa fa-times'></i> <?=$this->translate("CANCEL")?></a>
                                    </li>
                                </ul>
                            </div>
                    </li>
                </ul>
<?php
            }
        }
        }
}
?>
    </div>
</section>
