/**
 * @copyright  2015 (c) Stanimir Dimitrov.
 * @license    http://www.opensource.org/licenses/mit-license.php  MIT License
 *
 * @version    0.0.14
 *
 * @link       TBA
 */

/* smartphones, iPhone, portrait 480x320 phones 320px - 480px */
 @media screen and (min-width: 20.000em) and (max-width: 30.000em) {
    #content-wrapper {
        width: 100%;
        min-height: 100%;
    }
    #header {

    }
    #main {

    }
    #nav {

    }
    #aside {

    }
    #aside-menu-left {

    }
    #aside-menu-right {

    }
    #footer {

    }
}
