/**
 * @copyright  2015 (c) Stanimir Dimitrov.
 * @license    http://www.opensource.org/licenses/mit-license.php  MIT License
 *
 * @version    0.0.14
 *
 * @link       TBA
 */

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones  640px - 1024 */
@media screen and (min-width: 40.000em) and (max-width: 64.000em) {
    #content-wrapper {
        width: 100%;
        min-height: 100%;
    }
    #header {

    }
    #main {

    }
    #nav {

    }
    #aside {

    }
    #aside-menu-left {

    }
    #aside-menu-right {

    }
    #footer {

    }
}
