@charset "UTF-8";
/**
 * @copyright  2015 (c) Stanimir Dimitrov.
 * @license    http://www.opensource.org/licenses/mit-license.php  MIT License
 *
 * @version    0.0.14
 *
 * @link       TBA
 *
 * Classes and IDs for all devices and resolutions.
 * IDs should ONLY be used once and for main elements of the site
 * Use classes for all other type of style!
 */

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

/* 1200px+ */
@media screen and (min-width: 64.000em) {
    /* Structure */
    #content-wrapper {
        width: 100%;
        min-height: 100%;
    }

    #header {
        margin: 0;
        padding: 0;
    }

    #main {

    }

    /* Navigation */
    #nav {
        width: 100%;
    }

    #nav ul {
        background: #eee;
        border-bottom: 1px solid #DBDBDB;
    }

    #nav ul > li {
        display: inline-block;
        padding: 7px;
    }

    #nav ul li a {
        padding: 10px;
        color: green;
    }

    #nav ul li a:hover {
        background: #fff;
    }

    #nav ul li ul {
        position: absolute;
        background: #eee;
        min-width: 150px;
        display: none;
    }

    #nav ul li:hover ul  {
        display: block;
    }

    #nav ul li ul li a:hover {
        background: #fff;
    }

    #nav ul li ul li a {
        padding: 10px;
        display: block;
        border-bottom: 1px solid #Ccc;
    }

    /* Left|Right panels */
    #aside {

    }

    .aside-menu-left {

    }

    .aside-menu-right {

    }

    #footer {

    }
}
