/**
 * @copyright  2015 (c) Stanimir Dimitrov.
 * @license    http://www.opensource.org/licenses/mit-license.php  MIT License
 *
 * @version    0.0.14
 *
 * @link       TBA
 */

/* 320 - 1024 */
@media screen and (min-width: 20.000em) and (max-width: 64.000em) {

    /* The code bellow is for responsive data tables */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* this way instead of display: block; to avoid accesibility problems */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
        margin-top: 20px;
    }

    td {
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }
}
