<?php
    /**
    * @var $language Admin\Model\Language
    */
    $language = $this->lang;
?>
<section>
    <p>
        <a href="<?=$this->url("admin/default", ['controller' => "language"])?>" class="btn btn-default">
            <i class="fa fa-chevron-left"></i> <?=$this->translate("BACK")?>
        </a>
    </p>
    <div class='table-style'>
        <ul class="table-row">
            <li class="table-cell"><?=$this->translate("NAME");?></li>
            <li class="table-cell"><?=$language->getName()?></li>
        </ul>
        <ul class="table-row">
          <li class="table-cell"><?=$this->translate("ACTIVE");?></li>
          <li class="table-cell"><?php if ($language->getActive()) { ?> <i class='fa fa-check'></i> <?php } else {  ?> <i class='fa fa-times'></i> <?php } ?> </li>
        </ul>
    </div>
</section>
