<section>
    <div class="table-style">
        <ul class="table-header">
            <li class="table-cell"><?=$this->translate("NAME");?></li>
            <li class="table-cell"><?=$this->translate("ACTIVE");?></li>
            <li class="table-cell"><?=$this->translate("DETAILS");?></li>
            <li class="table-cell"><?=$this->translate("MODIFY");?></li>
            <li class="table-cell"><?=$this->translate("DELETE");?></li>
        </ul>
<?php
       /**
        * @var $language Admin\Model\Language
        */
        foreach($this->paginator as $language) {
?>
        <ul class="table-row">
            <li class="table-cell"><?=$language->getName()?></li>
            <li class="table-cell">
                <?php if (($language->getActive())) {?><i class='fa fa-check'></i> <?php } else {  ?> <i class='fa fa-times'></i><?php } ?></li>
            <li class="table-cell">
                <a title='<?=$this->translate("DETAILS")?>' class='btn blue btn-sm' href='<?=$this->url("admin/default", ['controller' => "language", "action" => "detail", "id" => $language->getId()])?>'><i class='fa fa-info'></i></a>
            </li>
            <li class="table-cell">
                <a title='<?=$this->translate("MODIFY")?>' href='<?=$this->url("admin/default", ['controller' => "language", "action" => "modify", "id" => $language->getId()])?>' class='btn btn-sm orange'><i class='fa fa-pencil'></i></a>
            </li>
            <li class="table-cell">
                <button id='delete_<?=$language->getId()?>' class='btn btn-sm delete dialog_delete' title='<?=$this->translate("DELETE")?>'><i class='fa fa-trash-o'></i></button>
                <div id='delete_delete_<?=$language->getId()?>' class='dialog_hide'>
                    <p><?=$this->translate("DELETE_CONFIRM_TEXT")?> &laquo;<?=$language->getName()?>&raquo;</p>
                    <ul>
                        <li>
                            <a class='btn delete' href='<?=$this->url("admin/default", ['controller' => "language", "action" => "delete", "id" => $language->getId()])?>'><i class='fa fa-trash-o'></i> <?=$this->translate("DELETE")?></a></li>
                        <li>
                            <a class='btn btn-default cancel'><i class='fa fa-times'></i> <?=$this->translate("CANCEL")?></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
<?php
        }
    echo $this->paginationControl($this->paginator, 'sliding', 'admin/pagination', ['route' => 'admin/default']);
?>
    </div>
</section>
