<div class="showRegister" id="showForm">
    <p itemprop='name' class="legend"><?=$this->translate("CREATE_ACCOUNT");?></p>
    <?php
       /**
        * @var $form Application\Form\RegistrationForm
        */
        $form = $this->form;
        $form->setAttribute('action', '/registration/processregistration');
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formCollection($form);
        echo $this->form()->closeTag();
    ?>
</div>
