<section>
    <div class="table-style">
        <ul class="table-header">
              <li class="table-cell"><?=$this->translate("TITLE")?></li>
              <li class="table-cell"><?=$this->translate("TEXT")?></li>
              <li class="table-cell"><?=$this->translate("DATE")?></li>
              <li class="table-cell"><?=$this->translate("DETAILS")?></li>
              <li class="table-cell"><?=$this->translate("MODIFY")?></li>
              <li class="table-cell"><?=$this->translate("ACTIVE")?></li>
              <li class="table-cell"><?=$this->translate("DELETE")?></li>
        </ul>
<?php
        /**
         * @var $content Admin\Model\Content
         */
        foreach($this->contents as $content) {
?>
        <ul class="table-row">
            <li class="table-cell"><?=$content->getTitle()?></li>
            <li class="table-cell"><?=substr(strip_tags($content->getText()),0,300)?>...</li>
            <li class="table-cell"><?=$content->getDate()?></li>
            <li class="table-cell">
                <a title='<?=$this->translate("DETAILS")?>' class='btn blue btn-default btn-sm' href='<?=$this->url("admin/default", ["controller" => "content", "action" => "detail", "id" => $content->getId()])?>'>
                    <i class='fa fa-info'></i>
                </a>
            </li>
            <li class="table-cell">
                <a title='<?=$this->translate("MODIFY_CONTENT");?>' href='<?=$this->url("admin/default", ["controller" => "content", "action" => "modify", "id" => $content->getId()])?>' class='btn btn-sm orange'>
                    <i class='fa fa-pencil'></i>
                </a>
            </li>
<?php
        if ($content->getActive() == 0) {
?>
            <li class="table-cell">
                <a title='<?=$this->translate("DEACTIVATED");?>' href='<?=$this->url("admin/default", ["controller" => "content", "action" => "activate", "id" => $content->getId()])?>' class='btn btn-sm deactivated'>
                    <i class='fa fa-minus-square-o'></i>
                </a>
            </li>
<?php
        } else {
?>
            <li class="table-cell">
                <a title='<?=$this->translate("ACTIVE");?>' href='<?=$this->url("admin/default", ["controller" => "content", "action" => "deactivate", "id" => $content->getId()])?>' class='btn btn-sm active'>
                    <i class='fa fa-check-square-o'></i>
                </a>
            </li>
<?php
        }
?>
            <li class="table-cell">
                <button id='delete_<?=$content->getId()?>' type="button" class='btn btn-sm delete dialog_delete'><i class='fa fa-trash-o'></i></button>
                <div style='display: none' id='delete_delete_<?=$content->getId()?>' class='dialog_hide'>
                    <p><?=$this->translate("DELETE_CONFIRM_TEXT")?> &laquo;<?=$content->getTitle()?>&raquo;</p>
                    <ul>
                        <li>
                            <a class='btn delete' href='<?=$this->url("admin/default", ["controller" => "content", "action" => "delete", "id" => $content->getId()])?>'><i class='fa fa-trash-o'></i>&nbsp; <?=$this->translate("DELETE")?></a>
                        </li>
                        <li>
                            <a class='btn btn-default cancel'><i class='fa fa-times'></i> <?=$this->translate("CANCEL")?></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
<?php
        }
?>
    </div>
</section>
