<div>
    <p>
        <a href="<?=$this->url("admin/default", ["controller" => "content"])?>" class="btn btn-default">
            <i class="fa fa-chevron-left"></i> <?=$this->translate("BACK")?>
        </a>
    </p>
    <div class='form-inputs'>
        <button type="button" class="button modal-toggle"><i class="fa fa-upload"></i><?=$this->translate("UPLOAD_IMAGES")?></button>
<?php
            /**
             * @var Admin\Form\ContentForm
             */
            $form = $this->form;
            $form->setAttribute('action', $this->url('admin/default', ['controller' =>'content','action' => 'modify','id' => $this->content->getId()]));
            $form->prepare();

            echo $this->form()->openTag($form);

            echo $this->formFile($form->get("preview"));
            echo $this->formText($form->get("title"));
            echo $this->formTextarea($form->get("text"));
            echo $this->formSelect($form->get("menuOrder"));
            echo $this->formSelect($form->get("type"));
            echo $this->formText($form->get("date"));
            echo $this->formSelect($form->get("menu"));
            echo $this->formSelect($form->get("language"));
            echo $this->formSubmit($form->get("submit"));
            echo $this->formHidden($form->get("titleLink"));
            echo $this->formHidden($form->get("id"));
            echo $this->formRow($form->get("s"));

            include __DIR__."/imgupload.phtml";

            echo "<label><span>".$this->translate("AUTHOR")."</span>".$this->content->getAuthor()."</label>";

            echo $this->form()->closeTag();
?>
    </div>
</div>
